pipeline/parametrize pipeline1.json
{
	"name": "parametrize pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('metadata')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DataLakeGen2Source",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().Inputcontainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().Inputdirectory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().Inputfile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLSInk",
									"type": "DatasetReference",
									"parameters": {
										"sqlschema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"sqltablename": {
											"value": "@item().outputtable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DataLakeGen2Source",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string",
				"defaultValue": "input"
			},
			"directory": {
				"type": "string",
				"defaultValue": "folder"
			},
			"filename": {
				"type": "string",
				"defaultValue": "metadata.csv"
			},
			"sqlschema": {
				"type": "string"
			},
			"sqltablename": {
				"type": "string"
			}
		},
		"variables": {
			"metadata": {
				"type": "Array",
				"defaultValue": [
					{
						"Inputfile": "Department1.csv",
						"Inputcontainer": "input",
						"Inputdirectory": "folder",
						"outputtable": "x",
						"schema": "dbo"
					},
					{
						"Inputfile": "Department2.csv",
						"Inputcontainer": "input",
						"Inputdirectory": "folder",
						"outputtable": "y",
						"schema": "dbo"
					},
					{
						"Inputfile": "Sample_data.csv",
						"Inputcontainer": "input",
						"Inputdirectory": "folder",
						"outputtable": "z",
						"schema": "dbo"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-01T16:21:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}